.section {
  position: relative;
  z-index: 2;
  overflow: hidden;
  padding-bottom: 190px;
  @include media(tablet) {
    padding-bottom: 165px;
  }
  @include media(desktop) {
    padding-bottom: 200px;
  }
}

.title {
  @include titleText();
}

.titleAnd {
  @include gradientText;
}

.description {
  @include description;
}

.containerContent {
  display: flex;
  flex-direction: column;
  @include media(desktop) {
    flex-direction: row;
    gap: 24px;
  }
}
.backgroundWrapper {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  height: calc(60% + 100px);
  z-index: -1;
  border-radius: 16px;
  overflow: hidden;

  @include media(tablet) {
    top: -15%;
    height: calc(100% + 100px);
  }

  @include media(desktop) {
    top: -20%;
    height: calc(100% + 100px);
  }
}
