.imageWrapper {
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;

  &:hover {
    transform: scale(1.01);
    border-radius: 10px;
  }
}
.portfolioImage {
  width: 338px;
  height: auto;
  max-width: 100%;
  @include media(tablet) {
    width: 640px;
    height: auto;
  }

  @include media(desktop) {
    width: 1224px;
    height: auto;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(27, 27, 52, 0.4);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  border-radius: 10px;
}
.imageWrapper {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  &:hover .overlay {
    opacity: 1;
    pointer-events: auto;
  }
}
