.listContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  width: 100%;

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @include media(desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
