.section {
  padding-bottom: 160px;
  padding-top: 60px;
  position: relative;
  z-index: 2;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}
.title {
  @include titleText();
  text-align: right;
}
.SpanTitle {
  @include gradientText;
}
.descriptions {
  @include description;
  text-align: right;
}
.SpanDescriptions {
  font-weight: 600;
}

.portfolioContainer {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.backgroundWrapper {
  position: absolute;
  top: -1%;
  left: 0;
  right: 0;
  height: calc(30% + 100px);
  width: 100%;
  z-index: -1;
  border-radius: 16px;
  overflow: hidden;

  @include media(tablet) {
    height: calc(50% + 100px);
    top: -2%;
  }

  @include media(desktop) {
    height: calc(50% + 100px);
    top: -120px;
  }
}
