.section {
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}
.contentText {
  display: flex;
  flex-direction: column;
  @include media(desktop) {
    margin-left: 40px;
  }
}
.title {
  @include titleText();
}

.titleSpan {
  @include gradientText;
}
.description {
  @include description;
}
.backgroundWrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(50% + 100px);
  z-index: 1;
  border-radius: 16px;

  @include media(tablet) {
    top: 90%;
    height: calc(50% + 100px);
  }

  @include media(desktop) {
    top: 83%;
    height: calc(100% + 100px);
  }
}
