.section {
  padding-bottom: 160px;
  @include media(desktop) {
    padding-bottom: 200px;
  }
}
.title {
  position: relative;
  z-index: 2;
  @include titleText();
}

.titleAnd {
  @include gradientText;
}
.description {
  @include description;
}
