.section {
  position: relative;
  z-index: 1;
  overflow: visible;
  padding-bottom: 200px;
}

.background {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: calc(100% + 100px);
  background-image: url('/image/grid.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: -1;
}
.contentContainer {
  position: relative;
  z-index: 0;
}
.newTitle {
  @include titleText();
}

.spanNewTitle {
  @include gradientText;
}
.description {
  @include description;
}
