.footer {
  background: #0a0b41;
  position: relative;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 37px;
  min-height: 300px;
  &::before {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 80px;
    background: #0a0b41;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    z-index: -1;
  }
  @include media(tablet) {
    padding-top: 60px;
    padding-bottom: 42px;
    min-height: 350px;
  }
  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 65px;
    min-height: 250px;
  }
}

.privacyLink {
  font-weight: 500;
  @include font(16, 21);
}
.rights {
  font-weight: 500;
  @include font(16, 21);
  color: #8e8e93;
  margin-bottom: 20px;
  @include media(tablet) {
    margin-bottom: 0px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.logo {
  min-height: 40px;
  margin-bottom: 20px;
  @include media(desktop) {
    margin-bottom: 50;
  }
}
.social {
  min-height: 50px;
  margin-bottom: 86px;
  @include media(desktop) {
    margin-bottom: 0;
  }
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }
}
