.section {
  padding-bottom: 160px;
  position: relative;
  z-index: 1;

  @include media(desktop) {
    padding-bottom: 200px;
  }
}

.containerContent {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  @include titleText();
}

.titleSpan {
  @include gradientText;
}

.description {
  @include description;
  max-width: 520px;
}

.spanWeight {
  font-weight: 600;
  color: #fff;
}

.spanDescription {
  @include gradientText;
}
