.section {
  padding-bottom: 100px;
  padding-top: 64px;
  position: relative;
  z-index: 1;
  @include media(tablet) {
    padding-bottom: 220px;
  }
  @include media(desktop) {
    padding-bottom: 240px;
  }
}
.title {
  margin-bottom: 24px;
  font-weight: 700;
  @include font(32, 42);
  text-align: center;
  text-transform: uppercase;
  @include media(tablet) {
    @include font(42, 55);

    margin-bottom: 32px;
  }
  @include media(desktop) {
    @include font(42, 55);
    width: 950px;
  }
}

.description {
  @include description;
  text-align: center;
}

.descriptionNext {
  @include description;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.container {
  padding: 10px;
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(tablet) {
    align-items: center;
  }
}
.containerButton {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  @include media(tablet) {
    flex-direction: row;
  }
}

.wrapper {
  @include media(desktop) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
.background {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  height: calc(50% + 100px);
  background-image: url('/image/grid.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  z-index: -1;
  @include media(tablet) {
    top: 0;
    height: calc(90% + 100px);
  }
}
