.container {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4) 0%,
      #000000 12%,
      #000 100%
    ),
    linear-gradient(to right, #3200c4d9 0%, #5a17e0ab 40%, #0344f9f7 100%);
  margin-top: -80px;
  padding-top: 80px;
  @include media(tablet) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        #000000 12%,
        #000 100%
      ),
      linear-gradient(
        to right,
        rgb(50 0 196 / 74%) 0%,
        rgb(90 23 224 / 32%) 40%,
        rgb(3 68 249 / 74%) 100%
      );
  }
}
