.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  list-style: none;

  @include media(tablet) {
    flex-direction: row;
    gap: 20px;
  }
}

.item {
  flex: 1;
  opacity: 0;
  transform: translateY(28px);
  transition:
    opacity 0.55s ease,
    transform 0.55s ease;

  &.in {
    opacity: 1;
    transform: translateY(0);
  }
}
