.section {
  padding-bottom: 160px;

  @include media(tablet) {
    padding-bottom: 200px;
  }
}

.title {
  text-align: left;
  @include titleText();
}
.spanTitle {
  @include gradientText;
}
.description {
  text-align: left;
  @include description;
}
.SpanDescription {
  font-weight: 600;
}
.containerContent {
  display: flex;
  flex-direction: column;
}
